*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10%;
}

.bigger-container{
    display: flex;
    flex-direction: row;
    gap: 30%;
    width: 50%;
}
.container{
  display: flex;
 flex-direction: row;
 gap: 30%;
 width: 50%;
}
dialog {
  border: none;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  width: 90%;
  max-width: 500px;
}

.userAddedBookName{
    color: green;
}