*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    margin-top: 3%;
    flex-direction: column;
}
h3{
    padding-bottom: 5%;
}

.bigger-container{
    display: flex;
    flex-direction: row;
    gap: 5%;
    width: 50%;
    
}
.container{
display: flex;
 flex-direction: row;
 gap: 30%;
 width: 50%;
}
.nav-container{
    display: flex;
    flex-direction: column;
    gap: 10%;
    
}
button{
    color: gray;
    padding: 2%;
    border: 1px gray solid;

}
.bookName,
.author,
.pages,
.readStatus
{
    color: green;
}
.addedBookNameDiv,
.addedBookAuthorDiv,
.addedBookPagesDiv,
.addedBookReadStatus{
    color: rgb(96, 96, 96);
    display: flex;

}
    

dialog {
  border: none;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  width: 90%;
  max-width: 500px;
}

.userAddedBookName{
    color: green;
}